li {
    display: inline-block;
    border:1px solid blue;
    background: #ADD8E6;
    padding: 10px 30px;
    margin: 0px 20px;
    position: relative;
}

ul {
    background: #888;
    padding: 15px 10px;
}

#container {
    background: #CCC;
    height: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}


.menu {
    position: absolute;
    width:100%;
    top: 100%;
    left:0px;
    margin-top:3px;
}